<body>

  <div class="">
    <div class="wrap">
      <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <div class="brand-wrapper">
              <div class="brand-name-wrapper">
                <a class="navbar-brand" href="#">Navigation Menu</a>
              </div><a class="btn btn-default" data-toggle="collapse" href="#search" id="search-trigger"><span
                  class="glyphicon glyphicon-search"></span></a>
              <div class="panel-collapse collapse" id="search">
                <div class="panel-body">
                  <form class="navbar-form" role="search">
                    <div class="form-group">
                      <input class="form-control" placeholder="Search" type="text">
                    </div><button class="btn btn-default" type="submit"><span
                        class="glyphicon glyphicon-ok"></span></button>
                  </form>
                </div>
              </div>
            </div>
          </div><!-- Main Menu -->
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <li>
                <a href="#"><span class="glyphicon glyphicon-send"></span> Dashboard</a>
              </li>
              <li class="active">
                <a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/techniciantble"><span
                    class="glyphicon glyphicon-plane"></span>All Task</a>
              </li>
              <li class="active">
                <a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/techniciantble"><span
                    class="glyphicon glyphicon-plane"></span>Completed Task</a>
              </li>
              <li>
                <a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/techniciantblepending"><span
                    class="glyphicon glyphicon-cloud"></span>Pending Task</a>
              </li>
              <li>
                <a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/technicianportal"><span
                    class="glyphicon glyphicon-cloud"></span>Pick Up Pending Task</a>
              </li><!-- Dropdown-->
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div><!-- Main Content -->
      <div class="container-fluid">
        <div class="side-body">
          <div class="page-title-box">
            <h3 class="page-title pull-left">Dashboard</h3>
            <ol class="breadcrumb pull-right">
              <h1>Welcome :- {{name}}</h1>
            </ol>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-9">
                          <div class="huge">
                            {{completedtasks}}
                          </div>
                          <div>
                            Completed Tasks!
                          </div>
                        </div>
                        <div class="col-xs-3 text-right">
                          <i class="fa fa-cogs fa-5x"></i>
                        </div>
                      </div>
                    </div><a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/techniciantble">
                      <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right"><i
                            class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-9">
                          <div class="huge">
                            {{pendingtasks}}
                          </div>
                          <div>
                            Pending Tasks!
                          </div>
                        </div>
                        <div class="col-xs-3 text-right">
                          <i class="fa fa-laptop fa-5x"></i>
                        </div>
                      </div>
                    </div><a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/techniciantblepending">
                      <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right"><i
                            class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-yellow">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-9">
                          <div class="huge">
                            {{alltasks}}
                          </div>
                          <div>
                            All Tasks!
                          </div>
                        </div>
                        <div class="col-xs-3 text-right">
                          <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                      </div>
                    </div><a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/techniciantble">
                      <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right"><i
                            class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-yellow">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-9">
                          <div class="huge">
                            {{pendingtasks}}
                          </div>
                          <div>
                            PickUp Pending Tasks!
                          </div>
                        </div>
                        <div class="col-xs-3 text-right">
                          <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                      </div>
                    </div><a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/technicianportal">
                      <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right"><i
                            class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-red">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-9">
                          <div class="huge">
                            {{customersatisfaction}}%
                          </div>
                          <div>
                            Customer Satisfaction!
                          </div>
                        </div>
                        <div class="col-xs-3 text-right">
                          <i class="fa fa-dollar fa-5x"></i>
                        </div>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <span class="pull-left">View Details</span> <span class="pull-right"><i
                          class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <div class="panel-body">
                  <div class="list-group">
                    <a class="list-group-item" href="#"><i class="fa fa-comment fa-fw"></i> New Comment <span
                        class="pull-right text-muted small"><em>14 minutes ago</em></span></a> <a
                      class="list-group-item" href="#"><i class="fa fa-tasks fa-fw"></i> New Task <span
                        class="pull-right text-muted small"><em>55
                          minutes ago</em></span></a> <a class="list-group-item" href="#"><i
                        class="fa fa-upload fa-fw"></i>
                      Server Rebooted <span class="pull-right text-muted small"><em>55 minutes ago</em></span></a>
                    <a class="list-group-item" href="#"><i class="fa fa-bolt fa-fw"></i> Server Crashed! <span
                        class="pull-right text-muted small"><em>3:33 PM</em></span></a> <a class="list-group-item"
                      href="#"><i class="fa fa-warning fa-fw"></i> Server Not Responding <span
                        class="pull-right text-muted small"><em>10:57 AM</em></span></a>
                  </div><a class="btn btn-info btn-block" href="#">View All Alerts</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>