:focus {
  outline: none;
}
html{
  height:100%;
}
body{
  font-family: 'Ubuntu', sans-serif;
  min-height: 100%;
}
.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.wrap{
  margin-top: 60px;
}

/*-----Side navigation bar-----*/

.side-menu {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
  transition: all 0.5s ease-in-out;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
    margin-right: -1px;
    transition: all 0.4s ease-in;
    color: #337ab7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
}
.side-menu .navbar-nav li a {
  padding: 10px 25px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}

.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}

/*-----Side body-----*/
.side-body {
  margin-left: 260px;
  margin-bottom: 60px;
  transition: all 0.5s ease-in-out;
}
.side-footer{
  margin-left: 260px;
  transition: all 0.5s ease-in-out;
}

/*-----Navbar-----*/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #e7e7e7;
  margin-right: -1px;
  color: #337ab7;
  transition: all 0.2s ease-in
}
.navbar-right .dropdown-menu{
  right:0;
  left:auto;
}
.navbar-nav{
  margin:0;
}
.nav>li{
  float:left;
}
.nav>li>a{
  padding: 12px;
}
.navbar-right .fa-fw {
  border: 1px solid;
  width: 35px;
  border-radius: 50%;
  height: 35px;
  line-height: 35px;
  color: #fff;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{
  width:310px;
}
.dropdown-tasks .progress{
  margin-bottom:0;
}
.dropdown-alerts li div{
  line-height: 35px;
}
.dropdown-menu>li>a{
  white-space: normal;
}
.bell .fa-fw{ background-color: #FF5722;}
.task .fa-fw{ background-color: #337ab7;}
.user .fa-fw{ background-color: #FFC107;}
.envelope .fa-fw{ background-color: #4CAF50;}

/*-----Side navigation bar (extra)-----*/

.panel-heading{
  color:#fff;
}
.off{
	transform: translate(-300px);
}
.full-width{
	margin-left: 10px;
}
.menu{
  padding: 6px 12px;
  margin: 12px;
}
.img-resize{
	position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #000;
}
header{
  height: 60px;
  background-color: #f8f8f8;
  padding: 0;
  border-bottom: 1px solid #e7e7e7;
}

.logo{
  background-color: #337ab7;
  width:250px;
  height:60px;
  line-height: 60px;
  transition: all 0.5s ease-in;
}
.logo span{
  color:#fff;
  font-size: 18px;
}
.huge{
	font-size: 50px;
}

/*-----Dashboard panels-----*/

.panel-primary .panel-footer span{ color: #337ab7 }
.panel-primary .panel-footer:hover { background-color: #337ab7; transition: all 0.2s ease-in }
.panel-primary .panel-footer:hover span { color: #fff }

.panel-green { border:1px solid #4CAF50; }
.panel-green .panel-heading{ border:1px solid #4CAF50; background-color: #4CAF50 }
.panel-green .panel-footer span{ color: #4CAF50 }
.panel-green .panel-footer:hover { background-color: #4CAF50; transition: all 0.2s ease-in }
.panel-green .panel-footer:hover span { color: #fff }

.panel-red { border:1px solid #FF5722; }
.panel-red .panel-heading{ border:1px solid #FF5722; background-color: #FF5722 }
.panel-red .panel-footer span{ color: #FF5722 }
.panel-red .panel-footer:hover { background-color: #FF5722; transition: all 0.2s ease-in }
.panel-red .panel-footer:hover span { color: #fff }

.panel-yellow { border:1px solid #FFC107; }
.panel-yellow .panel-heading{ border:1px solid #FFC107; background-color: #FFC107 }
.panel-yellow .panel-footer span{ color: #FFC107 }
.panel-yellow .panel-footer:hover { background-color: #FFC107; transition: all 0.2s ease-in }
.panel-yellow .panel-footer:hover span { color: #fff }

/*-----Breadcrumbs-----*/

.page-title-box{
      border-bottom: 1px solid #337ab7;
    margin-bottom: 30px;
}
.breadcrumb{
  margin-top: 14px;
  margin-bottom: 0;
  background-color: transparent;
}

/*-----List Group-----*/

.list-group {
    height: 206px;
    overflow: auto;
}

/*-----Data Tables-----*/
table th{
  white-space: nowrap;
}

/*-----Extra classes-----*/

.marr20{
  margin-right: 20px;
}
.padd20{
  padding:20px;
}
.footer{
  background-color: #ccc;
  padding:5px;
}

::-webkit-scrollbar-track {
      background-color: #337ab7;
}
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
}
::-webkit-scrollbar-button {
      background-color: #d9edf7;
}
::-webkit-scrollbar-corner {
      background-color: black;
}

/*-----Media classes-----*/

@media (max-width: 768px){
  .navbar-right li:nth-child(n){
    display:none;
  }
  .navbar-right li:last-child{
    display: block;
  }
  .side-menu{
    margin-left:-250px;
    z-index: 999;
  }
  .side-body{
    margin-left: 0;
  }
  .off {
    z-index: 999;
    transform: translate(250px);
  }
  .side-footer{
    margin-left: 0;
  }
  .logo{
    width:195px;
  }
  .logo img{
    width:90%;
  }
  .marr20 {
    margin-right: 0px;
  }
}
@media (max-width: 400px) and (min-width: 290px){
  .logo{
    width: 150px;
  }
}