<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water"
          arial-hidden="true"></i><b>Delight RO
          Services</b></span>
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Delight RO Services</u>)</span>
    </h1>
  </div>

  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/stockdetails"><i class="far fa-edit"
              arial-hidden="true"></i>AddProductInStock</button>
              <button type="button" class="btn-info btn-lg" routerLink="/inwardstock"><i class="fa fa-tasks"
                arial-hidden="true"></i>AddInwardStock</button>
          <button type="button" class="btn-info btn-lg" routerLink="/stockproducttable"><i class="fas fa-users"
              arial-hidden="true"></i>StockProductList</button>
          <button type="button" class="btn-info btn-lg" routerLink="/stocktablelist"><i class="far fa-edit"
              arial-hidden="true"></i>InwardStockTable</button>
              <button type="button" class="btn-info btn-lg" routerLink="/outwardstockdetails"><i class="far fa-edit"
                arial-hidden="true"></i>OutwardStockDetails</button>
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-5">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <h3>Add New Product in Stock:</h3>
          <div class="form-group">
            <label>ItemName:</label>
            <input type="text" name="itemname" class="form-control" [(ngModel)]="itemname">
          </div>
          <div class="form-group">
            <label>ItemCode:</label>
            <input type="text" name="itemcode" class="form-control" [(ngModel)]="itemcode" maxlength="7"
              onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          </div>
          <div class="form-group">
            <label>ItemCategory:&nbsp;&nbsp;&nbsp;</label>
            <select [(ngModel)]="itemcategory" id="itemcategory">
              <option value="" disabled selected>select a category</option>
              <option *ngFor="let item of categories" [value]="item.category">{{item.category}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Upload Item Image:</label>
            <input type="file" id="img" name="img" accept="image/*">
          </div>
          <div class="form-group">
            <label>ItemDescription:</label>
            <input type="text" name="itemdescription" class="form-control" [(ngModel)]="itemdescription"
              onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
          </div>
          <div class="form-group">
            <label>HSN/SACCode:</label>
            <input type="text" name="hsncode" class="form-control" [(ngModel)]="hsncode" maxlength="7"
              onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          </div>
          <div class="input">
            <div class="form-group">
              <label>Purchased From:</label>
              <input type="text" name="itemlocation" class="form-control" [(ngModel)]="itemlocation"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
          </div>
          <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="submitProduct($event)"
            value="Save" style="width: 360px; margin: 0 auto;" [disabled]="isButtonEnabled" />
        </div>
      </div>
      <br>
    </div>
  </div>
</div>