table,th,td{
    border-collapse : collapse;
}
.w3-lobster {
    font-family: "Lobster", serif;
    text-align: center;
    color: rgb(95, 231, 4);
  }

  .row {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    width: auto;
  }
