<div class="wrapper">
  <!-- Top Bar Start -->
  <div class="top-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="logo">
            <a href="index.html">
              <h2><b>Delight RO Point</b></h2>
              <!-- <img src="img/logo.jpg" alt="Logo"> -->
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 d-none d-lg-block">
          <div class="row">
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="flaticon-calendar"></i>
                </div>

                <div class="top-bar-text">
                  <h3>Opening Hour</h3>
                  <p>Morning(8:00A.M)</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="flaticon-call"></i>
                </div>
                <div class="top-bar-text">
                  <h3>Call Us</h3>
                  <p>+919868955523</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="flaticon-send-mail"></i>
                </div>
                <div class="top-bar-text">
                  <h3>Email Us</h3>
                  <p>mk2101979@gmail.com</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="service">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="icon-wrapper">
          <i class="fa fa-shopping-cart fa-3x fa-border icon-green"></i>
          <span class="badge">{{data}}</span>
        </div>
        <button class="btn btn-success" (click)="priceList($event)"
          style="text-align: right;">CheckoutNow..!!</button>&nbsp;&nbsp;
        <div class="icon-wrapper">
          <button class="btn btn-danger" (click)="showCatalogues($event)">Product Catalogue..!!</button>&nbsp;
          <button class="btn btn-danger" (click)="showCatalogue($event)">Product Description..!!</button>&nbsp;
        </div>
        <div class="container">
          <div class="section-header text-left">
          </div>
          <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let e of employeedetailsList">
            <div class="service-item">
              <div class="service-img">
                <img src="{{e.imagepath}}" alt="Team Image">
                <div class="service-overlay">
                  <p>
                    {{e.productdescription}}
                  </p>
                </div>
              </div>
              <div class="service-text">
                <a class="btn" id="{{e.productid}}" (click)=addToCart($event)>+</a>
                <h3> <b>Rs.{{e.purchaseamount}}</b></h3>
                <a class="btn" id="{{e.productid}}" (click)=removeItem($event)>-</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>