body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 800px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:20%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.welcome-message .borderBtn {
    position: absolute;
    top: 300%;
    left: 45%;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05em;
    color: white;
    padding: 1.45em 3.35em;
    border-radius: 0.25em;
    background: rgba(195, 40, 40, 1);
  }
  
  .borderBtn:hover {
    color: white;
    background-color: #363B3F;
  }
  
  .container .btn-lg {
    background: rgba(195, 40, 40, 1);
    border: 0.05em solid rgba(195, 40, 40, .7);
    color: white;
    align-content: initial;
  }
  
  .container .btn-lg:hover {
    background: white;
    border: 0.05em solid rgba(195, 40, 40, 1);
    color: rgba(195, 40, 40, 1);
  }
  
  .modal-body .form-control {
    border-radius: 0.35em;
    margin-right: 0.25em;
    padding: 0.15em;
  }
  
  .modal-body .form-group label {
    margin-left: 0.35em;
  }
  
  .modal-header {
    background: rgba(195, 40, 40, 1);

  }
  .modal-content {
    width: 100%;
    height: 100%;
   
    justify-content: center;
    align-items: center;
}
  .modal-body .form-group {
    width: 100%;
    height: 100%;
   
    justify-content: center;
    align-items: center;
  }
  
  .close {
    color: white !important;
    opacity: 0.8 !important;
  }
  
  .mohe {
    position: relative;
    display: block;
    color: white;
    float: left;
    padding: 0.75em;
  }
  
  .mohe:after {
    position: absolute;
    content: "";
    top: -1.45em;
    bottom: -1.45em;
    right: -7.15em;
    border-left: 0.05em solid rgba(0, 0, 0, 0.2);
    border-right: 0.05em solid rgba(255, 255, 255, 0.7);
    transform: rotate(25deg);
  }
  
  .modal-footer {
    background: rgba(195, 40, 40, 1);
  }
  
  .modal-footer button {
    background: white;
    color: black;
    width: 9em;
    border-radius: 0.35em;
  }
  
  .input-group textarea {
    height: 6.35em !important;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .form-control {
    height: 2em;
    padding: 0.75em 1.15em;
    font-size: 1.15em;
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: black;
  }
  
  .input-group .btn-primary {
    color: rgba(255, 255, 255, 1);
    width: 50% !important;
    float: right !important;
    margin-right: 0 !important;
  }
  
  .input-group .btn-primary:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    color: #363B3F;
    border-radius: 0.35em;
    font-weight: 300;
  }