<div class="container">

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form role="form" action="action_page.php" method="post">
            <fieldset>
              <legend> Confirmation Information:</legend>
              <div class="form-group col-xs-6">
                <label for="name"> Share OTP: *</label>
                <input type="text" class="form-control" id="otp" name="otp" [(ngModel)]="otp" [disabled]="otps">
              </div>
              <button type="submit"  data-dismiss="modal"  [disabled]="verification" style="text-align: center;; margin: 0 inherit;">ProceedFurther</button>
              <button type="submit" (click)="verifyOtp($event)" style="text-align: center;; margin: 0 inherit;"
                class="btn btn-default" [disabled]="verifyotp">Submit</button>
              <button type="submit" (click)="resendOtp($event)" style="text-align: center;; margin: 0 inherit;"
                class="btn btn-default" [disabled]="resendotp">ResendOTP</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container contact">
  <div class="row">
    <div class="col-md-3">
      <div class="contact-info">
        <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
        <h2>TechnicanPortal</h2>
        <h4>You can Proceed For Further Details !</h4>
      </div>
    </div>
    <div class="col-md-9">
      <div class="contact-form">
        <div class="form-group">
          <label class="control-label col-sm-2" for="ticketno">TicketNo:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="ticketno" value="{{ticketno}}" name="ticketno" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="customerids">CustomerId:</label>
          <div class="col-sm-10">
            <input type="text" value="{{customerids}}" class="form-control" id="customerids" name="customerids"
              disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="customertype">customertype:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="customertype" value="{{customertype}}" name="customertype"
              disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="mailids">InvoiceNo:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="invoiceno" value="{{invoiceno}}" name="invoiceno" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="issuedescription">IssueDescription:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="issuedescription" value="{{issuedescription}}"
              name="issuedescription" disabled>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="ticketstatus">TicketStatus:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="ticketstatus" value="{{ticketstatus}}" name="ticketstatus"
              disabled>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" value="{{name}}" name="name" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="mailids">MailId:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="mailids" value="{{mailids}}" name="mailids" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="address">Address:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="address" value="{{address}}" name="address" disabled>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="mobileno">MobileNo:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="mobileno" value="{{mobileno}}" name="mobileno" disabled>
          </div>
        </div>
        <input type="submit" id="submit" class="btn btn-success btn-lg active" (click)="addItem()" value="SparePart"
          style="text-align: center; margin: 0 inherit;" />
        <div class="form-inline">
          &nbsp; &nbsp; &nbsp;
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div formArrayName="productPurchaseds"
              *ngFor="let a of myForm.get('productPurchaseds').controls; let i = index">
              <div [formGroupName]="i" style="margin-bottom: 10px;" class="form-inline">
                <div class="form-group">
                  <div class="col-sm-12">
                    <label>ProdName :</label>
                    <select name="productnames" #selectedValue name="selectedValue" formControlName="productnames"
                      id="productnames" class="form-control form-control-element"
                      (ngModelChange)="onOptionsSelecteds($event)">
                      <option *ngFor="let catalog of productlist" [ngValue]="catalog">
                        {{catalog.productname}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="quantities">Quantity:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" size="10" formControlName="quantities" name="quantities">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="unitprices">UnitPrice:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" size="10" formControlName="unitprices" name="unitprices"
                      placeholder="{{unitprices}}">
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" id="submit" class="btn btn-danger btn-lg active" (click)="getvalue()"
              value="CalculateSparePartRate" style="text-align: center;; margin: 0 inherit;" />
          </form>
          <br>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="productname">ProductName:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="productname" value="{{productname}}" name="productname"
              disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="techniciancost">TechnicianCost:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="techniciancost" value="{{techniciancost}}" name="techniciancost"
              [(ngModel)]="techniciancost">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="dateofpurchase">DateOfPurchase:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="dateofpurchase" value="{{dateofpurchase}}" name="dateofpurchase"
              disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="dateofservicerequest">DateofServiceRequest:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="dateofservicerequest" value="{{dateofservicerequest}}"
              name="dateofservicerequest" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="dateofresolvingissue">Dateofresolvingissue:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="dateofresolvingissue" name="dateofresolvingissue"
              [(ngModel)]="dateofresolvingissue">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="iswarranty">WarrantyStatus:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="iswarranty" value="{{iswarranty}}" name="iswarranty">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="totalAmount($event)" style="text-align: center;; margin: 0 inherit;"
              class="btn btn-default">TotalAmount</button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="doubleamount">TotalAmount:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="doubleamount" value="{{doubleamount}}" name="doubleamount"
              disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="paidservicingamount">paidservicingamount:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="paidservicingamount" value="{{paidservicingamount}}"
              name="paidservicingamount">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" data-toggle="modal" data-target="#myModal"
              style="text-align: center;; margin: 0 inherit;" class="btn btn-default" [disabled]="submitotp">SubmitOTP</button>
            <button type="submit" 
              style="text-align: center;; margin: 0 inherit;" (click)="submitdata($event)" [disabled]="submitdatas" class="btn btn-default">SubmitData</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>