<div class="table-content">
  <h3 style="text-align: center;"><b>InwardStockDetails</b></h3>
  <div class="col-md-12">
    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
      </select>
    </div>
    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  <table class="table table-striped " id="customers">
    <tr>
      <th>RemainingProductsWithName</th>
    </tr>
    <tr class="pointer">
      <td> {{data | json }} </td>
    </tr>
  </table>
  <table class="table table-striped " id="customers">
    <tr>
      <th>ItemCode</th>
      <th>ItemName</th>
      <th>HSN/CODE</th>
      <th>PurchasedFrom</th>
      <th>DateOfPurchase</th>
      <th>Quantity</th>
      <th>UnitPrice</th>
      <th>TaxRate</th>
      <th>Inventory</th>
    </tr>
    <tr class="pointer" *ngFor="let item of employeedetailsList">
      <td>{{item.addProductInStock.itemcode}}</td>
      <td>{{item.addProductInStock.itemname}}</td>
      <td>{{item.addProductInStock.hsncode}}</td>
      <td>{{item.purchasefrom}}</td>
      <td>{{item.dateofpurchase}}</td>
      <td>{{item.quantity}}</td>
      <td> {{item.unitprice}}</td>
      <td> {{item.taxrate}}</td>
      <td> {{item.inventory}}</td>
    </tr>
  </table>

  <div class="container">

    <div class="paginateDiv">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>