
<div class="jumbotron jumbotron-fluid ">
    <div class="col-lg" >
      <h1 class="site-heading text-center text-dark d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Delight RO Services</span>
        <span class="site-heading-lower" *ngIf="showMsg">(<u>Bhushan Management Store</u>)</span>
      </h1>
    </div>
  </div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="container"> <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                            <h3 class="mb-4"><i class="fas fa-lock-open" arial-hidden="true"></i> LOGIN:</h3>
                        <form (submit)="checkLogin($event)">
                            <div class="form-group"> 
                                <input type="text" class="form-control" name="name" placeholder="Username" [(ngModel)]="username" autofocus >
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control mb-2" name="password" placeholder="password"> 
                            </div>
                                <input type="submit" class="btn btn-success mr-2" value="Login" >  
                                <input type="reset" class="btn btn-secondary"> <br>
                        </form>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>