
<button type="button" class="btn btn-danger" value="Logout" (click)="logOut($event)">Logout <i
  class="fas fa-lock-open" arial-hidden="true"></i></button>
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water" arial-hidden="true"></i><b>Delight RO
        Services</b></span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Delight RO Services</u>)</span>
    </h1>
  </div>
 
  <!-- <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
            arial-hidden="true"></i>Dashboard</button>
          <button type="button" class="btn-info btn-lg" routerLink="/addtask"><i class="fas fa-users"
              arial-hidden="true"></i> AddTask</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> TaskList</button>
              <button type="button" class="btn-info btn-lg" routerLink="/onlinecustomer"><i class="far fa-edit"
                arial-hidden="true"></i>Online Customer Details</button>

        </div>
      </h1>
    </div>
  </div>
</div> -->


<div class="col-lg-3">
  <div class="container">
    <div class="card bg-light text-dark">
      <div class="card-body">
        <!-- add product form -->
        <form>
          <h3>Add New Task:</h3>
          <div class="form-group">
            <label>EmpId:</label>
            <input type="text" name="empid" class="form-control" [(ngModel)]="empid" maxlength="4"
              onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          </div>
          <div class="form-group">
            <label>TaskDate:</label>
            <input type="date" name="date" class="form-control" [(ngModel)]="date">
          </div>
          <div class="form-group">
            <label>TaskDescription:</label>
            <input type="text" name="taskdescription" class="form-control" [(ngModel)]="taskdescription"
              onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
          </div>
          <div class="form-group">
            <label>CompletedDate:</label>
            <input type="date" name="completeddate" class="form-control" [(ngModel)]="completeddate">
          </div>
          <div class="form-group">
            <label>Tenure:</label>
            <input type="text" name="tenure" class="form-control" [(ngModel)]="tenure" maxlength="2"
            onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          </div>

          <div class="form-group">
            <label for="demo_overview_minimal">Status</label>
            <select id="demo_overview_minimal" class="form-control" data-role="select-dropdown"
              data-profile="minimal">
              <option selected>Assigned</option>
              <option>InProgress</option>
              <option>Completed</option>
            </select>
          </div>

          <input type="submit" id="submit" class="btn btn-success mr-2" (click)="todoList($event)">
          <div *ngIf="showEdit" class="alert alert-success"> Product edited successfully...</div>
          <div *ngIf="showMsg" class="alert alert-success">Product added successfully...</div>
        </form>
      </div>
    </div> <br>
