
<h3>Technician Portal</h3>
<div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap">
  <form action="/?page_id=143#wpcf7-f156-p143-o1" method="post" class="wpcf7-form" novalidate="novalidate">
    <p>
      <span class="wpcf7-form-control-wrap Name">
        <input type="text" name="ticketno" value="" maxlength="7"
          class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
          aria-invalid="false" [(ngModel)]="ticketno" placeholder="TicketNo">
      </span>
      <span class="wpcf7-form-control-wrap Email">
        <input type="text" name="mobileno" maxlength="10"
          class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
          aria-required="true" aria-invalid="false" [(ngModel)]="mobileno" placeholder="MobileNo">
      </span>

      <span class="wpcf7-form-control-wrap Message">
      </span>
      <input type="submit" (click)="checkLogin($event)" value="Send" class="wpcf7-form-control wpcf7-submit btn">
      <input type="submit" (click)="checkLogins($event)" value="Tasks" class="wpcf7-form-control wpcf7-submit btn">
      <img class="ajax-loader"
        src="http://www.jordancundiff.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..."
        style="visibility: hidden;">
    </p>
    <div class="wpcf7-response-output wpcf7-display-none">
    </div>
  </form>
</div>