<div class="table-content">
  <h3 style="text-align: center;"><b>OnlineCustomerDetails</b></h3>
  <div class="col-md-12">
    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
      </select>
    </div>
    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  <table class="table table-striped " id="customers">
    <tr>
      <th>Id</th>
      <th>PurchasedDate</th>
      <th>Name</th>
      <th>Payment Status</th>
      <th>InvoiceNo</th>
      <th>Date of Delivery</th>
      <th>OrderStatus</th>
      <th>PaymentDate</th>
      <th>TotalAmount</th>
      <th>Is_Cancelled</th>
      <th>Get More Details</th>
    </tr>
    <tr class="pointer" *ngFor="let item of employeedetailsList  ; let i = index" id={{item.id}}
      routerLinkActive="active">
      <td>{{item.id}}</td>
      <td>{{item.purchasedetails.purchasedate}}</td>
      <td>{{ item.name }}</td>
      <td> {{item.paymenthistory.paymentstatus}}</td>
      <td>{{item.invoiceno}}</td>
      <td> {{item.paymenthistory.dateofdelivery}}</td>
      <td> {{item.paymenthistory.orderstatus}}</td>
      <td> {{item.paymenthistory.paymentdate}}</td>
      <td> {{item.paymenthistory.totalcostAfterapplyingdeliverycharges}}</td>
      <td> {{item.is_cancelled}}</td>
      <td><button type="button" class="btn btn-success" id="{{item.id}}" (click)="getdetails($event)">Get More
          Details <i class="fas fa-user-edit" arial-hidden="true"></i></button></td>
    </tr>
  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>