<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="material-icons feedback">&#xe87f;</i>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="f01">
              <form>
                <h5><b>ResolutionForm!!</b></h5>
                <div class="form-group">
                  CustomerId:- <input type="text" class="form-control" id="customerId" name="customerId"
                    aria-describedby="customerId" required value="{{customerId}}" disabled [(ngModel)]="customerId">
                </div>
                <div class="form-group">
                  TicketNo:- <input type="text" class="form-control" id="ticketno" name="ticketno" aria-describedby="id"
                    required value="{{ticketno}}" disabled [(ngModel)]="ticketno">
                </div>
                <div class="form-group">
                  CustomerName:- <input type="text" class="form-control" id="name" name="customername"
                    aria-describedby="id" required value="{{name}}" disabled [(ngModel)]="name">
                </div>
                <div class="form-group">
                  DateOfServicing:- <input type="date" class="form-control" id="dateofservicing" name="dateofservicing"
                    aria-describedby="dateofservicing" required value="{{dateofservicing}}"
                    [(ngModel)]="dateofservicing">
                </div>
                <div class="form-group">
                  RemainingAmount:- <input type="text" class="form-control" id="remainingamount" name="remainingamount"
                    aria-describedby="remainingamount" required value="{{remainingamount}}"
                    [(ngModel)]="remainingamount">
                  PaidAmount:- <input type="text" class="form-control" id="paidservicingamount"
                    name="paidservicingamount" aria-describedby="paidservicingamount" required
                    value="{{paidservicingamount}}" [(ngModel)]="paidservicingamount">
                </div>
                <div class="form-group">
                  TicketStatus:- <input type="ticketstatus" class="form-control" id="ticketstatus" name="ticketstatus"
                    aria-describedby="ticketstatus" required value="{{ticketstatus}}" [(ngModel)]="ticketstatus">
                </div>
                <div class="mx-auto">
                  <button type="submit" class="btn btn-primary text-right"
                    (click)="UpdateServicingDetails($event)">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-content">
  <h3 style="text-align: center;"><b>ServicingTableList</b></h3>
  <div class="col-md-12">
    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
      </select>
    </div>
    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  <table class="table table-striped " id="customers">
    <tr>
      <th>TicketNo</th>
      <th>CustomerType</th>
      <th>MobileNo</th>
      <th>Name</th>
      <!-- <th>EmailId</th> -->
      <!-- <th>ProductPurchased</th>
      <th>SparePart</th> -->
      <th>DateofRequest</th>
      <th>Warranty</th>
      <th>Model</th>
      <th>TotalCost</th>
      <th>PaidAmount</th>
      <th>RestAmount</th>
      <th>TicketStatus</th>
      <th>AssignedTo</th>
      <th>EditButton</th>
      <th>Invoice</th>
     
    </tr>
    <tr class="pointer" *ngFor="let item of categories  ; let i = index" id={{item.id}} routerLinkActive="active">
      <td>{{item.ticketno}}</td>
      <td>{{item.customertype}}</td>
      <td>{{ item.mobileno }}</td>
      <td> {{item.name}}</td>
      <!-- <td> {{item.mailid}}</td> -->
      <!-- <td> {{item.productname}}</td>
      <td>
        {{item.sparepart}}
      </td> -->
      <td> {{item.dateofservicerequest}}</td>
      <td>{{ item.iswarranty }}</td>
      <td> {{item.model}}</td>
      <td> {{item.totalcost}}</td>
      <td> {{item.paidamount}}</td>
      <td>{{item.remainingamount}}</td>
      <td>{{item.ticketstatus}}</td>
      <td>{{item.assignedto}}</td>
      <td><button type="button" class="btn btn-success" style="font-size: small;" id="{{item.customerids}}"
          data-toggle="modal" data-target="#myModal" (click)="saveServicingDetails($event)">Edit <i
            arial-hidden="true"></i></button></td>
      <td><button type="button" class="btn btn-success" style="font-size: small;" id="{{item.customerids}}"
          (click)="invoiceservice($event)">Invoice <i arial-hidden="true"></i></button></td>
    </tr>
  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>