.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .input {
    width: 12em;
    display: inline-block;
}

.input-sm{
    display: inline-block;
}

.button:active{
  color: red;
}


