<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water"
          arial-hidden="true"></i><b>Delight RO
          Services</b></span>
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Delight RO Services</u>)</span>
    </h1>
  </div>

  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
              arial-hidden="true"></i>Dashboard</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/customer"><i class="far fa-edit"
              arial-hidden="true"></i> Customer Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/onlinecustomer"><i class="far fa-edit"
              arial-hidden="true"></i>Online Customer Details</button>
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-5">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <form>
            <h3>Add New Product:</h3>
            <div class="form-group">
              <label>ItemName:</label>
              <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid"
                maxlength="20">
            </div>

            <div class="form-group">
              <label>ItemCode:</label>
              <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid" maxlength="4"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>ItemCategory:</label>
              <select id="options" class="form-control" data-role="select-dropdown" data-profile="minimal"
                (change)="selectChangeHandler($event)">
                <option value="#"></option>
                <option value="Assigned">Assigned</option>
                <option value="InProgress">InProgress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
            <div class="form-group">
              <label>Upload Item Image:</label>
              <input type="file" id="img" name="img" accept="image/*">
            </div>
            <div class="form-group">
              <label>ItemDescription:</label>
              <input type="text" name="taskdescription" value="{{taskdescriptions}}" class="form-control"
                [(ngModel)]="taskdescription" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>HSN/SACCode:</label>
              <input type="text" name="tenure" value="{{tenures}}" class="form-control" [(ngModel)]="tenure"
                maxlength="2" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked [(ngModel)]="pricing"
                name="pricing">
              <label class="form-check-label" for="defaultCheck1">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Pricing
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" [(ngModel)]="stock"
                name="stock">
              <label class="form-check-label" for="defaultCheck2">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Stock
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" [(ngModel)]="OnlineStore"
                name="onlinestore">
              <label class="form-check-label" for="defaultCheck2">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; OnlineStore
              </label>
            </div>
            <br>
            <div *ngIf="pricing">
              <div class="input">
                <div class="form-group">
                  <label>Sale Price:</label>
                  <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid"
                    maxlength="4" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

                <div class="form-group">
                  <select id="demo_overview_minimal" class="form-control" data-role="select-dropdown"
                    data-profile="minimal">
                    <option selected>Tax Excluded</option>
                    <option>InProgress</option>
                    <option>Completed</option>
                  </select>
                </div>
              </div>
              &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div class="input">
                <div class="form-group">
                  <label>Purchase Price:</label>
                  <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid"
                    maxlength="4" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="form-group">
                  <select id="demo_overview_minimal" class="form-control" data-role="select-dropdown"
                    data-profile="minimal">
                    <option selected>Tax Excluded</option>
                    <option>InProgress</option>
                    <option>Completed</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="stock">
              <div class="form-group">
                <label>Opening Stock:</label>
                <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid"
                  maxlength="4" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </div>
              <div class="input">
                <div class="form-group">
                  <label>CompletedDate:</label>
                  <input type="date" name="completeddate" class="form-control" [(ngModel)]="completeddate">
                </div>
                <div class="form-group">
                  <label>At Price</label>
                  <input type="text" name="tenure" value="{{tenures}}" class="form-control" [(ngModel)]="tenure"
                    maxlength="2" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
              </div>
              &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="input">
                <div class="form-group">
                  <label>Minimum Stock Quantity:</label>
                  <input type="text" name="tenure" value="{{tenures}}" class="form-control" [(ngModel)]="tenure"
                    maxlength="2" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="form-group">
                  <label>Item Location:</label>
                  <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid"
                    maxlength="4" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
              </div>
            </div>
            <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="todoList($event)"
              value="Save" style="width: 360px; margin: 0 auto;" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div *ngIf="showEdit" class="alert alert-success"> Product edited successfully...</div>
            <div *ngIf="showMsg" class="alert alert-success">Product added successfully...</div>
          </form>
        </div>
      </div> <br>

    </div>
  </div>
</div>