<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water" arial-hidden="true"></i><b>Delight RO
        Services</b></span>
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Delight RO Services</u>)</span>
    </h1>
  </div>

  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
            arial-hidden="true"></i>Dashboard</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/customer"><i class="far fa-edit"
              arial-hidden="true"></i> Customer Details</button>

        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="container">

      <div class="card bg-light text-dark">
        <div class="card-body">
          <h3>ToDoTask List:</h3>
          <!-- Product table -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">TaskNo</th>
                <th scope="col">Name</th>
                <th scope="col">TaskDate</th>
                <th scope="col">Tenure</th>
                <th scope="col">Description</th>
                <th scope="col">CompletedDate</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ps of employeedetailslist" data-spy="scroll" data-offset="50">
                <td>{{ps.taskno}}</td>
                <td>{{ps.employee.userName}}</td>
                <td>{{ps.taskdate}}</td>
                <td>{{ps.tenure}}</td>
                <td>{{ps.taskdescription}}</td>
                <td>{{ps.date}}</td>
                <td>{{ps.status}}</td>
                <td><button type="button" class="btn btn-success" id="{{ps.taskno}}" (click)="updated($event)">Edit <i
                      class="glyphicon glyphicon-pencil" arial-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-danger" id="{{ps.taskno}}" (click)="delete($event)">Delete <i
                      class="far fa-trash-alt" arial-hidden="true"></i></button></td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <form>
            <h3>Add New Task:</h3>
            <div class="form-group">
              <label>EmpId:</label>
              <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid" maxlength="4"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>TaskDate:</label>
              <input type="date" name="date"  value="{{taskdates}}" class="form-control" [(ngModel)]="date">
            </div>
            <div class="form-group">
              <label>TaskDescription:</label>
              <input type="text" name="taskdescription"  value="{{taskdescriptions}}" class="form-control" [(ngModel)]="taskdescription"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>CompletedDate:</label>
              <input type="date" name="completeddate"  value="{{dates}}" class="form-control" [(ngModel)]="completeddate">
            </div>
            <div class="form-group">
              <label>Tenure:</label>
              <input type="text" name="tenure"  value="{{tenures}}" class="form-control" [(ngModel)]="tenure" maxlength="2"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>

            <div class="form-group">
              <label for="demo_overview_minimal">Status</label>
              <select id="options" class="form-control" data-role="select-dropdown"
                data-profile="minimal"  (change)="selectChangeHandler($event)">
                <option value="Assigned">Assigned</option>
                <option value="InProgress">InProgress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
            <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="todoList($event)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" id="{{tasknos}}" (click)="update($event)">Update <i
              class="glyphicon glyphicon-pencil" arial-hidden="true"></i></button>
            <div *ngIf="showEdit" class="alert alert-success"> Product edited successfully...</div>
            <div *ngIf="showMsg" class="alert alert-success">Product added successfully...</div>
          </form>
        </div>
      </div> <br>

    </div>
  </div>
</div>