.jumbotron{
    height: 80px;
}
body {

}

.button {
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    align-content: center;
    align-items: center;
    box-align: center;
    align-self: center;
  }
  .image{
    height:60em; 
    background-size:cover;
    width:auto;
   
  }