<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h2 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water"
          arial-hidden="true"></i><b>Delight RO
          Services</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </h2>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
              arial-hidden="true"></i>Dashboard</button>
          <button type="button" class="btn-info btn-lg" routerLink="/customer"><i class="far fa-edit"
              arial-hidden="true"></i>Service</button>
          <button type="button" class="btn-info btn-lg" routerLink="/servicetable"><i class="far fa-edit"
              arial-hidden="true"></i>ServiceTable</button>
          <button type="button" class="btn-info btn-lg" routerLink="/offlinecustomerdetails"><i class="fa fa-tasks"
              arial-hidden="true"></i> OfflineCustomerDetails</button>
          <button type="button" class="btn-info btn-lg" routerLink="/onlinecustomer"><i class="far fa-edit"
              arial-hidden="true"></i>OnlineCustomerDetails</button>
          <button type="button" class="btn-info btn-lg" routerLink="/addofflinecustomerdata"><i class="far fa-edit"
              arial-hidden="true"></i>AddOfflineustomer</button>
              <button type="button" class="btn-info btn-lg" routerLink="/returnofflineCustomer"><i class="far fa-edit"
                arial-hidden="true"></i>ReturnOfflineCustomer</button>
        </div>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <h3>RETURN PRODUCT FOR ONLINE CUSTOMER:</h3>
          <div class="form-group">
            <label>CustomerType:&nbsp;&nbsp;&nbsp;</label>
            <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="datas"
              (ngModelChange)="onOptionsSelectedsdata($event)">
              <option *ngFor="let option of options" [value]="option">{{option}}</option>
            </select>
          </div>
          <div *ngIf="offlinecustomer">
            <div class="form-group">
              <label>EnterInvoiceno :</label>
              <input type="text" name="name" value="{{invoicenos}}" class="form-control" [(ngModel)]="invoiceno"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="6">
            </div>
            <div class="form-group">
              <label>Mobile No :</label>
              <input type="text" name="mobile" autocomplete="off" value="{{mobiles}}" class="form-control"
                [(ngModel)]="mobileno" maxlength="10" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
          </div>
          <div *ngIf="offlinecustomerdata">
            <div class="form-group">
              <label>Name :</label>
              <input type="text" name="name" autocomplete="off" value="{{names}}" class="form-control"
                [(ngModel)]="name" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" disabled>
            </div>
            <div class="form-group">
              <label>Mobile No :</label>
              <input type="text" name="mobile" autocomplete="off" value="{{mobilenos}}" class="form-control"
                [(ngModel)]="mobileno" maxlength="10" disabled>
            </div>
            <div class="form-group">
              <label>EmailID :</label>
              <input type="text" name="email" autocomplete="off" value="{{mailids}}" class="form-control"
                [(ngModel)]="mailid" maxlength="30" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" disabled>
            </div>
            <div class="form-group">
              <label>Address :</label>
              <input type="text" name="address" autocomplete="off" value="{{addresss}}"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" class="form-control" [(ngModel)]="address" disabled>
            </div>
            <div class="form-group">
              <label>PaymentStatus :</label>
              <input type="text" name="paymentstatus" autocomplete="off" value="{{paymentstatus}}"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" class="form-control" [(ngModel)]="paymentstatus" disabled>
            </div>
            <div class="form-group">
              <label>TotalCost :</label>
              <input type="text" name="entirerate" autocomplete="off" value="{{entirerate}}"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" class="form-control" [(ngModel)]="entirerate" disabled>
            </div>
            <div class="form-group">CancelProduct:-
              <div *ngFor='let item of arr;let i = index'>                    
                <input type="checkbox" [checked]="item.selected" (change)=radioChecked(item) [value]="item.productid"> {{item.productnames.productname}} &nbsp;&nbsp;&nbsp;&nbsp;QTY:- {{item.quantities}}&nbsp;&nbsp;&nbsp;&nbsp;Rs.{{item.unitprices}}
              </div> 
            </div>
            <div class="form-group">
              <label>RefundAmount :</label>
              <input type="text" name="refundmoney" autocomplete="off" value="{{refundmoney}}"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" class="form-control" [(ngModel)]="refundmoney" disabled>
            </div>
          </div>
          <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="submit($event)" value="Save"
            style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnabled" />
          <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="updateRequest($event)"
            value="FinalSubmission" style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnabledss" />
          <input type="submit" id="submit" class="btn btn-success btn-lg active" (click)="submitdatas($event)"
            value="OnlineCustomerDetails" style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnableddata" />
          <input type="submit" id="submit" class="btn btn-success btn-lg active" (click)="submits($event)"
            value="OfflineCustomerDetails" style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnableds" />
        </div>
      </div>
      <br>
    </div>
  </div>
</div>