<div class="wrapper">
  <div class="h2 large" style="text-align: center;"><b>Order Details</b></div>
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
      <div class="item pr-2" style="text-align: center;"> <img src="./assets/emi.png" alt="" width="100" height="100"
          *ngIf="emiData"></div>
      <div class="item pr-2" style="text-align: center;"> <img src="./assets/img/pendingamount.jpg" alt="" width="100"
          height="100" *ngIf="paymentpending"></div>
      <div class="item pr-2" style="text-align: center;"> <img src="./assets/fullypaid.jpg" alt="" width="100"
          height="100" *ngIf="fullpayment"></div>
      <div class="mobile h5">Billing Address</div>
      <div id="details">
        <form>
          <div class="form-group"> <label class="text-muted">CustomerID</label> <input type="text"
              value="{{offlinecustomerid}}" class="form-control" disabled> </div>
          <div class="form-group"> <label class="text-muted">DateOfPurchase</label> <input type="text"
              value="{{dateofpurchase}}" class="form-control" disabled> </div>
          <div class="form-group"> <label class="text-muted">Name</label> <input type="text" value="{{name}}"
              class="form-control" disabled> </div>
          <div class="form-group"> <label class="text-muted">Mobileno</label> <input type="text" value="{{mobileno}}"
              class="form-control" disabled> </div>
          <div class="form-group"> <label class="text-muted">EmailId</label> <input type="text" value="{{mailid}}"
              class="form-control" disabled> </div>
          <div class="form-group"> <label class="text-muted">InvoiceNo</label> <input type="text" value="{{invoiceno}}"
              class="form-control" disabled> </div>
          <div class="form-group"> <label class="text-muted">EmiApplicable</label> <input type="text"
              value="{{emiapplicable}}" class="form-control" disabled> </div>
          <div class="form-group"> <label class="text-muted">MonthlyInstallment</label> <input type="text"
              value="{{montlyinstallment}}" class="form-control" disabled> </div>
        </form>
      </div>

      <div id="address" class="bg-light rounded mt-1" *ngIf="tableview">
        <h3 style="text-align: center;"><b>EmiTable(Tenure:- {{noofmonths}}Months)</b></h3>
        <table class="table table-striped " id="customers">
          <tr>

            <th>PendingRs</th>
            <th>PaidAmount</th>
            <th>DateOfPayment</th>
            <th>Balance</th>
          </tr>
          <tr class="pointer" *ngFor="let item of myarrays  ; let i = index" id={{item.id}}>
            <td>{{item.amount}}</td>
            <td>{{ item.paidamount }}</td>
            <td> {{item.date}}</td>
            <td>{{item.remainingbalance}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
      <div id="cart" class="bg-white rounded">
        <div class="d-flex justify-content-between align-items-center">
          <div class="h6">Order Summary</div>
        </div>
        <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom"
          *ngFor="let item of myarray">
          <div class="item pr-2"> <img src="{{item.productnames.imagepath}}" alt="" width="80" height="80">
            <div class="number">{{item.quantities}}</div>
          </div>
          <div class="d-flex flex-column px-3"> <b class="h5">{{item.productnames.productname}}</b> </div>
          <div class="d-flex flex-column px-3"> <b class="h6">WarrantyDays</b> {{item.productnames.warrantydays}} </div>
          <div class="ml-auto"> <b class="h5">Rs.{{item.unitprices}}</b> </div>
          <div class="ml-auto"> <b class="h5">Rs.{{item.productnames.totalamount}}</b> </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="h6">Return Product</div>
      </div>
      <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom"
      *ngFor="let ite of arr">
      <div class="item pr-2"> <img src="{{ite.productnames.imagepath}}" alt="" width="80" height="80">
          <div class="number">{{ite.productnames.quantity}}</div>
      </div>
      <div class="d-flex flex-column px-3"> <b class="h5">{{ite.productnames.productname}}</b> </div>
      <div class="d-flex flex-column px-3"> <b class="h6">WarrantyDays</b> {{ite.productnames.warrantydays}} </div>
      <div class="ml-auto"> <b class="h5">Rs.{{ite.productnames.unitprice}}</b> </div>
      <div class="ml-auto"> <b class="h5">Rs.{{ite.productnames.totalamount}}</b> </div>
  </div>
      <div class="my-3"> <input type="text" class="w-100 form-control text-center"
              placeholder="Gift Card or Promo Card"> </div>
      <div class="d-flex align-items-center py-2">
          <div class="display-5">Total</div>
          <div class="ml-auto d-flex">
              <div class="text-primary text-uppercase px-3">IND</div>
              <div class="font-weight-bold">Rs.{{totalamount}}</div>
          </div>
      </div>
      <div class="d-flex align-items-center py-2">
          <div class="display-5">PromoCodeApplied</div>
          <div class="ml-auto d-flex">
              <div class="font-weight-bold">{{promocodeapplieds}}</div>
          </div>
      </div>
      <div class="d-flex align-items-center py-2">
          <div class="display-5">PromoCodeValue</div>
          <div class="ml-auto d-flex">
              <div class="text-primary text-uppercase px-3">IND</div>
              <div class="font-weight-bold">Rs.{{promocodevalues}}</div>
          </div>
      </div>
        <div class="my-3"> <input type="text" class="w-100 form-control text-center"
            placeholder="Gift Card or Promo Card"> </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">SubTotal</div>
          <div class="ml-auto d-flex">
            <div class="font-weight-bold">Rs.{{fullamount}}</div>
          </div>
        </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">GST</div>
          <div class="ml-auto d-flex">
            <div class="font-weight-bold">{{gstrate}}%</div>
          </div>
        </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">OtherTax</div>
          <div class="ml-auto d-flex">
            <div class="font-weight-bold">{{otherTaxRate}}%</div>
          </div>
        </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">OtherCharges</div>
          <div class="ml-auto d-flex">
            <div class="font-weight-bold">Rs.{{othercharges}}</div>
          </div>
        </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">TotalAmount</div>
          <div class="ml-auto d-flex">
            <div class="font-weight-bold">Rs.{{entirerate}}</div>
          </div>
        </div>
        <br>
        <br>
        <div class="h6" style="text-align: center;">Payment Summary</div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">PaidAmount</div>
          <div class="ml-auto d-flex">
            <div class="font-weight-bold">Rs.{{paidamount}}</div>
          </div>
        </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">PromoCodeApplied</div>
          <div class="ml-auto d-flex">
            <div class="font-weight-bold">{{PromoCode}}</div>
          </div>
        </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">PromoCodeValue</div>
          <div class="ml-auto d-flex">
            <div class="text-primary text-uppercase px-3">IND</div>
            <div class="font-weight-bold">Rs.{{promocodes}}</div>
          </div>
        </div>
        <div class="d-flex align-items-center py-2">
          <div class="display-5">TotalCostAfterApplyingPromoCode</div>
          <div class="ml-auto d-flex">
            <div class="text-primary text-uppercase px-3">IND</div>
            <div class="font-weight-bold">Rs.{{totalcostAfterapplyingdeliverycharges}}</div>
          </div>
      </div>
      <div class="d-flex align-items-center py-2">
        <div class="display-5">RemainingAmount</div>
        <div class="ml-auto d-flex">
          <div class="font-weight-bold">Rs.{{remainingamount}}</div>
        </div>
      </div>
      <div class="d-flex align-items-center py-2">
        <div class="display-5">EmiApplicable</div>
        <div class="ml-auto d-flex">
          <div class="font-weight-bold">{{emiapplicable}}</div>
        </div>
      </div>
      <div class="d-flex align-items-center py-2">
        <div class="display-5">MonthlyInstallment</div>
        <div class="ml-auto d-flex">
          <div class="font-weight-bold">{{montlyinstallment}}</div>
        </div>
      </div>
    </div>


    <div id="summary" class="bg-white rounded py-2 my-4">
      <form>
        <div class="row">
          <div class="col-lg-10">
            <div class="form-group"> <label>PaymentAmount</label>
              <div class="d-flex jusify-content-start align-items-center rounded p-2">
                <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="5"
                  [(ngModel)]="paymentamount" name="paymentamount">
                <span class="fas fa-check text-success pr-2"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <div class="form-group"> <label>PaymentDate</label>
              <div class="d-flex jusify-content-start align-items-center rounded p-2">
                <input type="date" [(ngModel)]="paymentdate" name="paymentdate"> <span
                  class="fas fa-check text-success pr-2"></span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
      <br>
      <button type="button" class="btn btn-success" (click)="updateRequest($event)">UpdateDetails<i class="fa fa-save"
          style="font-size:20px;color:white"></i></button>
      &nbsp; &nbsp; &nbsp;
      <button type="button" class="btn btn-success" (click)="generateInvoice($event)">Generate Invoice<i
          class="fa fa-save" style="font-size:20px;color:white"></i></button>
    </div>
  </div>
</div>

</div>