<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>Hurray!</h4>
        <p>Please note this ID-{{id}} for your Future Reference</p>
        <p>Your Order has been Placed successfully!!!</p>
        <p>Sit Back and Enjoy ..!!</p>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModals"><span>Please Provide the Feedback to
            improve the Website</span> </button>
        <button class="btn btn-success" data-dismiss="modal" routerLink="/customerwebsite"><span>Click Back to go to
            Home Menu ..!!</span> </button>
      </div>
    </div>
  </div>
</div>

<div id="myModalvaluedata" class="modal fade" *ngIf="otpvalidate">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="container height-50 d-flex justify-content-center align-items-center">
          <div class="position-relative">
            <div class="card p-2 text-center">
              <h6>Please enter the one time password <br> to verify your account</h6>
              <div> <span>A code has been sent to</span> <small>*******9897</small> </div>
              <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input
                  class="m-2 text-center form-control rounded" type="text" id="first" maxlength="6" /> <input
                  class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input
                  class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input
                  class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input
                  class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> <input
                  class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> </div>
              <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div>
            </div>
            <div class="card-2">
              <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <a
                  href="#" class="text-decoration-none ms-3">Resend(1/3)</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModalsdata" class="modal fade" *ngIf="bhimupi">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>QR CODE!!</h4>
        <p>Please Scan this QR Code and Sent the payment Receipt to mk2101979@gmail.com </p>
        <p><img src="./assets/img/qrcode.png"></p>
      </div>
    </div>
  </div>
</div>
<div id="myModals" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="material-icons feedback">&#xe87f;</i>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="f01">
              <form>
                <h5><b>Please Provide us your valuable feedback to improve our website.!!</b></h5>
                <div class="form-group">
                  <label for="id">ID</label>
                  <input type="text" class="form-control" id="name" name="id" aria-describedby="id" required
                    placeholder="{{id}}" disabled [(ngModel)]="id">
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" aria-describedby="name" required
                    placeholder="{{name}}" disabled [(ngModel)]="name">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required
                    placeholder="{{emailid}}" disabled [(ngModel)]="emailid">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" rows="3" name="descriptions" required
                    placeholder="{{descriptions}}" [(ngModel)]="descriptions"></textarea>
                </div>
                <div class="mx-auto">
                  <button type="submit" class="btn btn-primary text-right"
                    (click)="savefeedback($event)">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- Top Bar Start -->
  <div class="top-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="logo">
            <a href="index.html">
              <h2><b>Delight RO Point</b></h2>
              <!-- <img src="img/logo.jpg" alt="Logo"> -->
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 d-none d-lg-block">
          <div class="row">
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="flaticon-calendar"></i>
                </div>
                <div class="top-bar-text">
                  <h3>Opening Hour</h3>
                  <p>Morning(8:00A.M)</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="flaticon-call"></i>
                </div>
                <div class="top-bar-text">
                  <h3>Call Us</h3>
                  <p>+919868955523</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="flaticon-send-mail"></i>
                </div>
                <div class="top-bar-text">
                  <h3>Email Us</h3>
                  <p>mk2101979@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row' style='padding-top:25px; padding-bottom:25px;'>
      <div class='col-md-12'>
        <div id='mainContentWrapper'>
          <div class="col-md-8 col-md-offset-2">
            <h2 style="text-align: center;">
              Complete Checkout
            </h2>

            <div class="shopping_cart">
              <form class="form-horizontal" role="form" action="" method="post" id="payment-form">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a>Review
                          Your Order</a>
                      </h4>
                      <h5>*Please Note Delivery Charges will be applied once the order is confirmed by the Supplier</h5>
                    </div>

                    <div class="panel-body">
                      <div class="items">
                        <div class="col-md-9">
                          <table class="table table-striped" *ngFor="let e of employeedetailsList">

                            <tr>
                              <td>
                                <ul>
                                  <li>{{e.productname}}</li>
                                </ul>
                              </td>
                              <td>
                                <b>{{e.purchaseamount}}Rs</b>
                              </td>
                              <td>
                                <b>{{e.quantity}}Pc</b>
                              </td>
                              <td>
                                <b>{{e.totalamount}}Rs</b>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="col-md-3">
                          <div style="text-align: center;">
                            <h3>Order Total</h3>
                            <h3><span style="color:green;">Rs.{{amount}}</span></h3>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <div style="text-align: center; width:100%;"><a style="width:100%;" data-toggle="collapse"
                          data-parent="#accordion" href="#collapseTwo" class=" btn btn-success"
                          onclick="$(this).fadeOut(); $('#payInfo').fadeIn();">Continue
                          to Billing Information»</a></div>
                    </h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion">Contact
                        and Billing Information</a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <b>Help us keep your account safe and secure, please verify your billing
                        information.</b>
                      <br /><br />
                      <table class="table table-striped" style="font-weight: bold;">
                        <tr>
                          <td style="width: 175px;">
                            <label for="id_email">Email-Id:</label>
                          </td>
                          <td>
                            <input class="form-control" id="emailid" name="emailid" required="required" type="text"
                              name="emailid" [(ngModel)]="emailid" placeholder="Enter EmailId"
                              style="text-transform: uppercase;" />
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 175px;">
                            <label for="id_first_name">Name:</label>
                          </td>
                          <td>
                            <input class="form-control" id="id_first_name" name="first_name" name="name" type="text"
                              [(ngModel)]="name" placeholder="Enter Name" required
                              onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" autocomplete="off"
                              style="text-transform: uppercase;" />
                          </td>
                        </tr>

                        <tr>
                          <td style="width: 175px;">
                            <label for="id_address_line_1">Address:</label>
                          </td>
                          <td>
                            <input class="form-control" id="id_address_line_1" name="address_line_1" required="required"
                              name="address" type="text" [(ngModel)]="address" placeholder="Enter Address" required
                              style="text-transform: uppercase;" />
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 175px;">
                            <label for="id_postalcode">Postalcode:</label>
                          </td>
                          <td>
                            <input class="form-control" id="id_postalcode" name="postalcode" required="required"
                              name="postalcode" type="text" [(ngModel)]="postalcode" placeholder="Enter PostalCode"
                              onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="6"
                              style="text-transform: uppercase;" (keyup)="pincodeValidation($event)" />
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 175px;">
                            <label for="id_phone">Phone:</label>
                          </td>
                          <td>
                            <input class="form-control" id="id_phone" name="mobileno" type="text" [(ngModel)]="mobileno"
                              onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" data-toggle="modal"
                              data-target="#myModalvaluedata" style="text-transform: uppercase;" name="mobileno"
                              (keyup)="userNamengmodelchange($event)" placeholder="Enter MobileNo" required />
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 175px;">
                            <label for="id_phone">PromoCode:</label>
                          </td>
                          <td>
                            <input class="form-control" id="PromoCode" name="PromoCode" type="text"
                              [(ngModel)]="PromoCode" maxlength="7" name="PromoCode"
                              placeholder="ENTER PROMOCODE" required />
                          </td>
                          <td>
                            <input type="text" value="{{promocodes}}"  [(ngModel)]="PromoCodevalue" disabled>
                            <input type="button" value="ApplyPromocode" (click)="promocode($event)">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <div style="text-align: center;"><a data-toggle="collapse" data-parent="#accordion"
                          href="#collapseThree" class=" btn   btn-success" id="payInfo"
                          style="width:100%;display: none;" onclick="$(this).fadeOut();  
                 document.getElementById('collapseThree').scrollIntoView()">Enter Payment Information »</a>
                      </div>
                    </h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <b>Payment Information</b>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <span class='payment-errors'></span>
                      <fieldset>
                        <div class="form-group">
                          <label class="col-sm-6 control-label" for="expiry-month">Payment Technique
                          </label>
                          <!-- <select [(ngModel)]="modeofpayment" name="status" placeholder="select"
                            (ngModelChange)="onOptionsSelected()" data-toggle="modal" data-target="#myModalsdata"> -->
                          <select>
                            <option *ngFor="let catalog of catalogs" [ngValue]="catalog.catalogname">
                              {{catalog.catalogname}}
                            </option>
                          </select>
                        </div>
                      </fieldset>
                      <button type="submit" class="btn btn-success btn-lg" style="width:100%;" data-toggle="modal"
                        data-target="#myModal" (click)="clickSubmit($event)" *ngIf="referenceids"
                        [disabled]="isSubmitBtnDisabled">Get Reference ID
                      </button>
                      <button type="submit" class="btn btn-primary " style="width:100%;" (click)="clickdata($event)"
                        *ngIf="referenceid">Verify Data
                      </button>
                      <br />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer wow fadeIn" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="footer-contact">
          <h2>Office Contact</h2>
          <p><i class="fa fa-map-marker-alt"></i>RZ 97 Pradhan Chowk , Near PostOffice Sadh Nagar
            , Palam Colony, New Delhi</p>
          <p><i class="fa fa-phone-alt"></i>+919313161609</p>
          <p><i class="fa fa-envelope"></i>mk2101979@gmail.com</p>
          <div class="footer-social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-link">
          <h2>Services Areas</h2>
          <a href="">RO Supply</a>
          <a href="">RO Services </a>
          <a href="">RO Spare Parts </a>

        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-link">
          <a href="">About Us</a>
          <a href="">Contact Us</a>

        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="newsletter">
          <h2>Feedback</h2>
          <p>
            As a brand we respect our customer Dignity always welcome their Valuable feedback
            ..!!
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="container copyright">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; <a href="#">Delight RO Point</a>, All Right Reserved.</p>
      </div>
      <div class="col-md-6">
        <p>Designed By <a href="https://htmlcodex.com">CodeTalks_DNA</a></p>
      </div>
    </div>
  </div>
</div>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>