<div class="table-content">
  <h3 style="text-align: center;"><b>OfflineCustomerDetails</b></h3>
  <div class="col-md-12">
    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
      </select>
    </div>
    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  <table class="table table-striped " id="customers">
    <tr>
      <th>CustomerId</th>
      <th>Name</th>
      <th>DateOfPurchase</th>
      <th>MobileNo</th>
      <th>InvoiceNo</th>
      <th>Total Bill</th>
      <th>PaidAmount</th>
      <th>RemainingAmount</th>
      <th>EmiApplicable</th>
      <th>PaymentStatus</th>
      <th>Generate Bill</th>
      <th>Get More Details</th>
    </tr>
    <tr class="pointer" *ngFor="let item of employeedetailsList  ; let i = index" id={{item.id}}>
      <td>{{item.offlinecustomerid}}</td>
      <td>{{item.name}}</td>
      <td>{{ item.dateofpurchase }}</td>
      <td>{{item.mobileno}}</td>
      <td>{{item.invoiceno}}</td>
      <td> {{item.billingdetails.entirerate}}</td>
      <td> {{item.billingdetails.paidamount}}</td>
      <td> {{item.billingdetails.remainingamount}}</td>
      <td> {{item.billingdetails.emiapplicable}}</td>
      <td> {{item.billingdetails.emiapplicable}}</td>
      <td><button type="button" class="btn btn-success" id="{{item.offlinecustomerid}}"
          (click)="getinvoice($event)">Generate Invoice
          <i class="fas fa-file-invoice-dollar" arial-hidden="true"></i></button></td>
      <td><button type="button" class="btn btn-primary" id="{{item.offlinecustomerid}}" (click)="getdetails($event)">Get
          More
          Details <i class="fas fa-user-edit" arial-hidden="true"></i></button></td>
    </tr>
  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>