<div class="wrapper">
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <a href="index.html">
                            <h2><b>Delight RO Point</b></h2>
                            <!-- <img src="img/logo.jpg" alt="Logo"> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-calendar"></i>
                                </div>

                                <div class="top-bar-text">
                                    <h3>Opening Hour</h3>
                                    <p>Morning(8:00A.M)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Call Us</h3>
                                    <p>+919868955523</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-send-mail"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Email Us</h3>
                                    <p>mk2101979@gmail.com</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <div class="icon-box">
                                <i class="material-icons">delete_forever</i>
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <h4>Cancelled..!!</h4>
                            <p>Your Order has been Cancelled Successfully!!!</p>
                            <button class="btn btn-success" data-toggle="modal" data-target="#myModals"><span>Please
                                    Provide the Feedback to
                                    improve the Website</span> </button>
                            <button class="btn btn-success" data-dismiss="modal"
                                routerLink="/customerwebsite"><span>Click Back to go to
                                    Home Menu ..!!</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModals" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <div class="icon-box">
                                <i class="material-icons feedback">&#xe87f;</i>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <form>
                                        <h5><b>Please Provide us your valuable feedback to improve our
                                                website.!!</b></h5>
                                        <div class="form-group">
                                            <label for="id">Customer-ID</label>
                                            <input type="text" class="form-control" id="name" name="id"
                                                aria-describedby="id" required placeholder="{{customeriddata}}" disabled
                                                [(ngModel)]="id">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                aria-describedby="name" required placeholder="{{name}}" disabled
                                                [(ngModel)]="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email-Address</label>
                                            <input type="text" class="form-control" id="email" name="email"
                                                aria-describedby="email" required placeholder="{{emailid}}" disabled
                                                [(ngModel)]="emailid">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Message</label>
                                            <input type="text" class="form-control" value="{{descriptions}}"
                                                id="descriptions" name="descriptions" aria-describedby="name"
                                                [(ngModel)]="descriptions">
                                        </div>
                                        <div class="mx-auto">
                                            <button type="submit" class="btn btn-primary text-right"
                                                (click)="savefeedback($event)">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="get-in-touch" *ngIf="formdata">
                <h1 class="title">Check Your Orders here</h1>
                <form class="contact-form row">
                    <div class="form-field col-lg-6">
                        <input id="name" class="input-text js-input" type="text" name="customerid" required
                            [(ngModel)]="customerid" onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="3">
                        <label class="label" for="orderid">OrderID</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input id="name" class="input-text js-input" type="text" name="customerid" required
                            [(ngModel)]="mobilenos" onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10">
                        <label class="label" for="orderid">MobileNo</label>
                    </div>
                    <div class="form-field col-lg-12">
                        <input class="submit-btn" type="submit" value="Submit" (click)="getCustomerById($event)">
                    </div>
                </form>
            </section>
            <div class="container" *ngIf="userObservable">
                <article class="card">
                    <header class="card-header"> My Orders / Tracking </header>
                    <div class="card-body">
                        <h6>Order ID: {{customeriddata}}</h6>
                        <article class="card">
                            <div class="card-body row">
                                <div class="col"> <strong>Estimated Delivery time:</strong> <br>{{dateofdelivery}}
                                </div>
                                <div class="col"> <strong>Status:</strong> <br> {{orderstatus}} </div>
                                <div class="col"> <strong>Payment Status #:</strong> <br> {{paymentstatus}} </div>
                                <div class="col"> <strong>Tracking #:</strong> <br> {{customeriddata}} </div>
                                <div class="col"> <strong>Payment Status #:</strong> <br> {{paymentstatus}} </div>
                                <div class="col"> <strong>Delivery Charge #:</strong> <br> {{deliverycharges}} </div>
                                <div class="col"> <strong>Net Amount #:</strong> <br>
                                    {{totalcostAfterapplyingdeliverycharges}} </div>
                                <div class="col"> <strong>CancelOrder</strong> <br> <input type="button"
                                        value="cancelOrder" data-toggle="modal" data-target="#myModal"
                                        class="btn btn-danger" (click)="cancelorder($event)" *ngIf="cancel"> </div>
                            </div>
                        </article>
                        <div class="track">
                            <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                                    class="text">Order confirmed</span> </div>
                            <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span
                                    class="text"> Picked by courier</span> </div>
                            <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span
                                    class="text"> On the way </span> </div>
                            <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> </span> <span
                                    class="text">Delivered</span> </div>
                        </div>
                        <hr>
                        <ul class="row">
                            <li class="col-md-4" *ngFor="let e of myarray">
                                <figure class="itemside mb-3">
                                    <div class="aside"><img src="{{e.imagepath}}" class="img-sm border">
                                    </div>
                                    <figcaption class="info align-self-center">
                                        <p class="title">Warranty:-{{e.warrantydays}}Days</p>
                                        <p class="title">Unit Price:- Rs.{{e.purchaseamount}} </p>
                                        <p class="title">Quantity:-{{e.quantity}}Pcs</p>
                                        <p class="title">Total Price:- Rs.{{e.totalamount}}</p>
                                        <p class="title">Delivery Charges:- Rs.{{e.deliverycharges}}</p>
                                        <p class="title">Net Price:- Rs.{{e.totalcostAfterapplyingdeliverycharges}}</p>
                                    </figcaption>

                                </figure>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>