<div class="wrapper">
    <!-- Top Bar Start -->
    <div class="top-bar">

        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-15">
                    <div class="logo">
                        <h2><b>Delight RO Point</b></h2>
                    </div>
                </div>

                <div class="col-lg-8 col-md-10 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-calendar"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Opening Hour</h3>
                                    <p>Morning(8:00A.M)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Call Us</h3>
                                    <p>+919868955523</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-send-mail"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Email Us</h3>
                                    <p>mk2101979@gmail.com</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark badge-success">
                    <ul class="navbar-nav justify-content-end">
                        <a class="nav-link" href="http://delightro.s3-website.ap-south-1.amazonaws.com/serviceapply">
                            <i class="fas fa-cogs">
                            </i>
                            Order Details
                        </a>
                    </ul>
                    <ul class="navbar-nav ">

                        <a class="nav-link" href="http://delightro.s3-website.ap-south-1.amazonaws.com/shopnow">
                            <i class="fas fa-cart-plus">
                            </i>
                            Shop Now
                        </a>
                    </ul>
                </nav>
            </div>

        </div>
    </div>


    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/water.jpg" alt="Carousel Image">
                <div class="carousel-caption">
                    <p class="animated fadeInRight">We Are Professional</p>
                    <h1 class="animated fadeInLeft">For Your Best RO Services</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/water1.jpg" alt="Carousel Image">
                <div class="carousel-caption">
                    <p class="animated fadeInRight">We Are Trusted</p>
                    <h1 class="animated fadeInLeft">For Your Dream Services</h1>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="feature wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-worker"></i>
                        </div>
                        <div class="feature-text">
                            <h3>Best Branded Quality</h3>
                            <p>Quality has been Our Pride</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <div class="feature-text">
                            <h3>Best in Services</h3>
                            <p>We deal in best and Quality Services</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-call"></i>
                        </div>
                        <div class="feature-text">
                            <h3>24/7 Support</h3>
                            <p>We are for you anytime ..!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="./assets/13.jpeg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p>Welcome to Delight RO Point</p>
                        <h2>10 Years of Legacy</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Today the need for clean drinking water has become a necessity. Every year, millions of
                            Indians get infected by water borne diseases and thousands lose their life. The water you
                            consume may contain high TDS, bacteria, viruses, pesticides, and harmful chemicals. Also,
                            the water supplied at homes passes through rusty and old pipelines and gets stored in
                            unhygienic tanks. Ensuring that the water is purified just before drinking is of utmost
                            importance. Hence, RO water purifier has become a critical need for healthy living and
                            well-being of you and your family.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fact">
        <div class="container-fluid">
            <div class="row counters">
                <div class="col-md-6 fact-left wow slideInLeft">
                    <div class="row">
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="flaticon-worker"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">100</h2>
                                <p>Expert Employees</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="flaticon-building"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">1000+</h2>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 fact-right wow slideInRight">
                    <div class="row">
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="flaticon-address"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">5000+ </h2>
                                <p>Sales Per Day</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="flaticon-crane"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">100+</h2>
                                <p>Running Services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <h2>Product View </h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/1.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/2.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/3.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/4.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/5.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/6.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/12.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/8.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/9.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/10.jpeg" alt="Team Image">
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/11.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="./assets/12.jpeg" alt="Team Image">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-contact">
                        <h2>Office Contact</h2>
                        <p><i class="fa fa-map-marker-alt"></i>RZ 97 Pradhan Chowk , Near PostOffice Sadh Nagar , Palam
                            Colony, New Delhi</p>
                        <p><i class="fa fa-phone-alt"></i>+919313161609</p>
                        <p><i class="fa fa-envelope"></i>mk2101979@gmail.com</p>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Services Areas</h2>
                        <a href="">RO Supply</a>
                        <a href="">RO Services </a>
                        <a href="">RO Spare Parts </a>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <a href="">About Us</a>
                        <a href="">Contact Us</a>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="newsletter">
                        <h2>Feedback</h2>
                        <p>
                            As a brand we respect our customer Dignity always welcome their Valuable feedback ..!!
                        </p>
                        <div class="form">
                            <input class="form-control" placeholder="Email here">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="">Terms of use</a>
                <a href="">Privacy policy</a>
                <a href="">Cookies</a>
                <a href="">Help</a>
                <a href="">FQAs</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="http://delightro.s3-website.ap-south-1.amazonaws.com/login">Delight RO Point</a>, All Right Reserved.</p>
                </div>

                <!-- <div class="col-md-6">
                    <p>Designed By <a href="http://localhost:4200/login">CodeTalks_DNA</a></p>
                </div> -->
                <!-- <div class="col-md-6">
                    <p>Designed By <a href="http://delightropoints.s3-website.ap-south-1.amazonaws.com/technicianlogin">CodeTalks_DNA</a></p>
                </div> -->
                <div class="col-md-6">
                    <p>Designed By <a href="http://delightro.s3-website.ap-south-1.amazonaws.com/technicianlogin">CodeTalks_DNA</a></p>
                </div>
            </div>
        </div>
    </div>
</div>